.stacker {
  position: relative;
}

.box-1 {
  height: 300px;
  width: 300px;
  border: 1px solid blue;
}
.box-2 {
  height: 250px;
  width: 250px;
  border: 1px solid blue;
  position: relative;
  left: 30px;
  bottom: 30px;
}

.box-3 {
  height: 200px;
  width: 200px;
  border: 1px solid blue;
  left: 30px;
  position: relative;
  bottom: 50px;
}
.box-4 {
  height: 150px;
  width: 150px;
  border: 1px solid blue;
  position: relative;
  left: 30px;
  bottom: 25px;
}
