.stacker {
  position: relative;
  /* grid-template-columns: 500px ;
  grid-template-row: 100px 100px 100px; */
}

article {
  border: 1px solid blue;
  position: relative;
}

article.box-1 {
  position: relative;
  width: 500px;
  height: 500px;
}

article.box-2 {
  position: relative;
  width: 150px;
  height: 150px;
}

article.box-3 {
  position: absolute;
  width: 150px;
  height: 150px;
  bottom: 0px;
  left: 0px;
}

article.box-4 {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 0px;
  right: 0px;
}

article.box-5 {
  position: absolute;
  width: 150px;
  height: 150px;
  bottom: 0px;
  right: 0px;
}
